<title>imCOOKED</title>
<style>
</style>
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../../styles/css/catégories.css">
<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 98vw;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>
            <ul>
                <li><a href="/profile">Profil</a></li>
                <li><a href="/login">Connexion</a></li>
                <li><a href="/categories">Catégories</a></li>
        </ul>


      </nav>
  </div>


<a href="entrer">
<button class="button_entrer">Entrer</button>
</a>


<a href="plat">
<button class="button_plat">Plat</button>
</a>

<a href="dessert">
<button class="button_dessert">Dessert</button>
</a>





<div class="buttons-EPD">
    <a href="entrer">
        <img src="../../styles/img/Entrer.png" alt="Button-entrer"  class="img1">
    </a>
    <a href="plat">
        <img src="../../styles/img/PlatCategorie.png" alt="Button-plat"  class="img2">
    </a>
    <a href="dessert">
        <img src="../../styles/img/DessertCategorie.png" alt="Button-dessert"  class="img3">
    </a>
</div>

</body>
<footer style="background-color: black; color: white; padding: 20px; margin-top: 20vh;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>