<title>imCOOKED</title>
<style>


</style>
<!DOCTYPE html>                                    
<html>
    <link rel="stylesheet" href="../../styles/css/entrer.css">
    <script src="../../styles/js/filtre.js"></script>

<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>

            <ul>
                <li><a href="/profile">Profil</a></li>
                    {{ if .ConnectedUser.Name }}
                    <li><a href="/logout">{{.ConnectedUser.Name}}</a></li>
                    {{ else }}
                    <li><a href="/login">Connexion</a></li>
                    {{ end }}
                    <li><a href="/categories">Catégories</a></li>
                  </ul>
      </nav>
     
  </div>
<div class="test" style="text-align: center;" >
    <h1>Entrée</h1>
    <div class="back-button">
        <a href="/categories">
        <button>Retour</button>
        </a>
    </div>
    <div class="trait">
    </div>
    <div class="filter-section" style="text-align: center;">
        <label> Filtre </label>
        <select  placeholder="--Choisir--"  name="sub" id="filter-select-entrer"required>
            <option value="" disabled selected>--Choisir--</option>
            {{range .Categories}}
            <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
</div>
<div class="rectangle">
    {{ range .Posts}}
    <div class="post">
        <a href="/post?{{.Post_id}}">
            <img src=".{{.Image}}" alt="Imagedu post" class="button-image" style="width: 500px;">
        </a>
        <h2>{{.Title}}</h2>
    </div>
    {{end}}
</div>

</body>
<footer style="background-color: black; color: white; padding: 20px; margin-top: -16%;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>