<title>imCOOKED</title>
<style>
    
</style>
<!DOCTYPE html>                                    
<html>
  <link rel="stylesheet" href="../../styles/css/acceuil.css">
<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
          <div class="logo">
            <a href="accueil">
            <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
            </a>
        </div>
        <ul>
          <li><a href="/profile?{{.ConnectedUser.Customer_id}}">Profil</a></li>
              {{ if .ConnectedUser.Name }}
              <li><a href="/logout">Déconnexion</a></li>
              {{ else }}
              <li><a href="/login">Connexion</a></li>
              {{ end }}
              <li><a href="/categories">Catégories</a></li>
            </ul>

      </nav>
  </div>


 <!-- Horizontal -->
 <div class="slider-container slider-1">
    <div class="slider">
      <p>
        <div class="backgroundfood">
          <h1>BIENVENUE SUR imCOOKED</h1>        
        </div>

        <img src="../../styles/img/PLATS.png" alt="logo" style="width: 100vw;" class="img1">
        <img src="../../styles/img/Plats2.png" alt="logo" style="width: 100vw;" class="img2">
        <img src="../../styles/img/backgroundfood.jpg" alt="logo" style="width: 100vw;" class="img3">
        <img src="../../styles/img/Plats4.png" alt="logo" class="img4">
        <img src="../../styles/img/Plats5.png" alt="logo" style="width: 100vw;" class="img5">

    
    </div>
    </div>
  </div>


</body>
<footer style="background-color: black; color: white; padding: 20px; margin-top: -39%;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>