<title>imCOOKED</title>
<style>

</style>
<!DOCTYPE html>                                    
<html>
    <link rel="stylesheet" href="../../styles/css/profile.css">
<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>

            <ul>
                <li><a href="/profile">Profil</a></li>
                <li><a href="/login">Connexion</a></li>
                <li><a href="/categories">Catégories</a></li>
          </ul>
      </nav>
     
  </div>
    <div class="trait1">
        <div class="post">
                <!-- <img src=".{{.Post.Image}}" alt="Imagedu post" class="button-image" style="width: 500px;"> -->
            <img src="../style/img/tiramisu-speculoos.jpg" alt="Imagedu post" class="button-image" style="width: 500px;">
        </div>
    </div>
</div>

<div class="titre">
    <!-- <h1>{{.Post.Title}}</h1> -->
    <h1>Tiramisu aux spéculoos</h1>
</div>

<div class="recette">
    <h2>Recette</h2>
    <!-- <p>{{.Post.Content}}</p> -->
    <p>10x oeuf
        2 giovanni
        4 youssef
        3 elias
    </p>
</div>

<div class="trait2">
</div>








</body>
<footer style="background-color: black; color: white; padding: 20px; margin-top: -36.3%;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>