<title>imCOOKED</title>
<style>
</style>
<!DOCTYPE html>                                    
<html>
    <link rel="stylesheet" href="../../styles/css/postcreate.css">
    <script src="../../styles/js/log.js"></script>
<body>

    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>

            <ul>
                <li><a href="/profile">Profil</a></li>
                    {{ if .ConnectedUser.Name }}
                    <li><a href="/logout">{{.ConnectedUser.Name}}</a></li>
                    {{ else }}
                    <li><a href="/login">Connexion</a></li>
                    {{ end }}
                    <li><a href="/categories">Catégories</a></li>
                  </ul>
    </nav>
</div>

<div class="test" style="text-align: center;" >
    <h1>CRÉE UN POST</h1>
    <div class="trait">
    </div>
</div>

    <div class="post">
        <form  method="post" enctype="multipart/form-data">
            <h1>Partage ta recette !</h1>
                <input type="text" name="title" placeholder="Title" required>
                <input type="file" name="image" accept="image/*" required>
                <textarea name="content" placeholder="Recette" required></textarea>
                    <select  placeholder="--Choisir--"  name="sub" id="food-select"required>
                        <option value="" disabled selected>--Choisir--</option>
                        <option value="Create" id="creerunecategorie">Créer une Catégories</option>
                        <option value="">Aucune Catégories</option>
                        {{range .Categories}}
                        <option value="{{.Name}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    <select  placeholder="--Choisir--"  name="categories" id="food-select"required>
                        <option value="Entree">Entrer</option>
                        <option value="Plat">Plats</option>
                        <option value="Dessert">Desserts</option>
                    </select>
                <button class="boutton1" type="submit">Créer un Post</button>
        </form>
    </div>
    

</body>


<footer style="background-color: black; color: white; padding: 20px; margin-top: -21.5%;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>