<title>imCOOKED</title>
<style>

</style>
<!DOCTYPE html>                                    
<html>
    <link rel="stylesheet" href="../../styles/css/profile.css">
<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>

            <ul>
                <li><a href="/profile">Profil</a></li>
                <li><a href="/login">Connexion</a></li>
                <li><a href="/categories">Catégories</a></li>
          </ul>
      </nav>
     
  </div>
    <div class="trait1">
        <div class="avatar">
            <img src="../../styles/img/avatar.png" alt="logo" style="width: 250px;">
        </div>
        <div class="menu">
            <form class="form" method = "post">
                <h1>Information du Compte</h1><br><br>
                <label for="username">Nom d'utilisateur:</label>
                <button type="button" onclick="changeUsername()">Modifier</button>
                <input type="text" id="username" name="username"value ="{{.UserSession.Username}}"disabled><br><br>
                <label for="password">Mot de passe:</label>
                <button type="button" onclick="changePassword()">Modifier</button>
                <input type="password" id="password" name="password"value="••••••••••••••••"disabled><br><br>
                <input type="submit" value="Enregistrer" onclick="enableAll()">
            </form>
        </div>
    </div>
</div>




</body>

</html>