<title>imCOOKED</title>
<style>

</style>
<!DOCTYPE html>                                    
<html>
    <link rel="stylesheet" href="../../styles/css/pagepost.css">
<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>

            <ul>
                <li><a href="/profile">Profil</a></li>
                <li><a href="/login">Connexion</a></li>
                <li><a href="/categories">Catégories</a></li>
          </ul>
      </nav>
     
  </div>
    <div class="trait1">
        <div class="post">
            <img src=".{{.Post.Image}}" alt="Imagedu post" class="button-image" style="width: 500px;">
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="Titre">
        <input type="text" name="title" placeholder="{{.Post.Title}}" required value="{{.Post.Title}}">
        <input type="file" name="image" accept="image/*" placeholder="Modifier l'image">
    </div>

    <div class="Recette">
        <h2>Recette</h2>
        <textarea name="content" placeholder="{{.Post.Content}}" required>{{.Post.Content}}</textarea>
    </div>

    <div class="delete-button">
    <button type="submit">Sauvegarder</button>
    </div>
</form>

<div class="edit-button">
    <a href="/post?{{.Post.Post_id}}">
    <button>Retour</button>
    </a>
</div>


</body>
<footer style="background-color: black; color: white; padding: 20px; margin-top: -47.3%;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>