<title>imCOOKED</title>
<style>

</style>
<!DOCTYPE html>                                    
<html>
    <link rel="stylesheet" href="../../styles/css/updateprofil.css">
<body>
    <div class="header">
        <nav style="background-color: rgb(0, 0, 0); width: 0px;" >
            <div class="logo">
                <a href="accueil">
                <img src="../../styles/img/logo.png" alt="logo" style="width: 370px;">
                </a>
            </div>

            <ul>
                <li><a href="/profile?{{.ConnectedUser.Customer_id}}">Profil</a></li>
                {{ if .ConnectedUser.Name }}
                <li><a href="/logout">Déconnexion</a></li>
                {{ else }}
                <li><a href="/login">Connexion</a></li>
                {{ end }}
                <li><a href="/categories">Catégories</a></li>
                <!-- <li><a href="/">Paramètre</a></li> -->
              </ul>
      </nav>
     
  </div>
    <div class="trait1">
        <div class="avatar">
            <img src="../../styles/img/avatar.png" alt="logo" style="width: 250px;">
        </div>
        <div class="Name">
            {{ if .ConnectedUser.Name }}
            <h1>{{.ConnectedUser.Name}}</h1>
            {{ else }}
            <h1>Utilisateur</h1>
            {{ end }}
        </div>
    </div>

        <div class="edit-button">
            <a href="/profile">
            <button>retour</button>
            </a>
        </div>

        <div class="menu">
                <div class="rectangle">
                    {{ range .Posts}}
                    <div class="post">
                        <a href="/post/{{.Post_id}}">
                            <img src="{{.Image}}" alt="Imagedu post" class="button-image" style="width: 500px;">
                        </a>
                    </div>
                    {{end}}
                </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="updatename">
        <input type="text" name="changeName" placeholder="{{.ConnectedUser.Name}}" required value="{{.ConnectedUser.Name}}">
        <input type="text" name="changePassword" placeholder="********" >
        <input type="text" name="changePasswordCheck" placeholder="********" >
    </div>
    <div class="erreur">
        <h1>Les mots de passes ne correspondent pas !</h1>
    </div>

    <div class="save-button2">
    <button type="submit">Sauvegarder</button>
    </div>
</form>
<div class="trait2">
</div>


<div class="parametre">
    <div class="Pub">
        <a href="/profile?{{.ProfileUser.Customer_id}}">
        <button class="button1">PUBLICATION</button>
        </a>
    </div>

    <div class="Like">
        <a href="/profile?{{.ProfileUser.Customer_id}}/like">
        <button class="button2">LIKE</button>
        </a>
    </div>

    <div class="Dislike">
        <a href="/profile?{{.ProfileUser.Customer_id}}/dislike">
        <button class="button3">DISLIKE</button>
        </a>
    </div>

</div>



<div class="PUBLICATION-IMG">
    <img src="../../styles/img/Publication.png" alt="logo-pub">
</div>

<div class="LIKE-IMG">
    <img src="../../styles/img/Like.png" alt="logo-like">
</div>

<div class="DISLIKE-IMG">
    <img src="../../styles/img/Dislike.png" alt="logo-dislike"> 
</div>


</body>
<footer style="background-color: black; color: white; padding: 20px; margin-top: -37%;">
    © 2024 by imCOOKED. Proudly created by Elmir.E, Mascaro.G
</footer>

</html>