
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: rgb(0, 0, 0);
    height : 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;     
  }

   footer {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100px;
              top: 731px;
          }
  
      .nav {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 20px;
              background-color: black;
              height: 170px;
          }
  
          nav img {
              width: 100px;
          }
  
          nav ul {
              position: relative;
              right: -1500px;
              display: flex;
              list-style-type: none;
              font-size: 30px;
              top: -50px;
          }
  
          nav ul li {
              margin: 0 10px;
          }
  
          nav ul li a {
              color: rgb(255, 255, 255);
              text-decoration: none;
              
          }
              
          .logo {
              position: relative;
              top: 30px;
              left: 50px;
              width: 0px;
          }
  
          ::-webkit-scrollbar {
          display: none;
          }
          .img4 {
          width: 100vw;
          }
          .trait1 {
              position: relative;
              top: 0px;
              left: 0px;
              background: rgba(255, 255, 255, 0.918);
              width:800px;
              height:950px;
              border: 1em solid;
              
          }

            .Titre {
                position: relative;
                top: -500px;
                left: 350px;
                width: 450px;
                height: 200px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
            }

            .post {
                position: relative;
                top: 70px;
                left: 150px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
            }

            .Recette {
                position: relative;
                top: -1130px;
                left: 950px;
                width: 400px;
                height: 30px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
            }

            .delete-button {
                position: relative;
                top: -1195.5px;
                left: 730px;
                width: 0px;
                height: 0px;
                font-size: 30px;
                font-family: 'Roboto', sans-serif;
                
            }

            .delete-button button {
                font-family: 'Roboto', sans-serif;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .edit-button {
                position: relative;
                top: -1195.5px;
                left: 15px;
                width: 400px;
                height: 0px;
                font-size: 30px;
                font-family: 'Roboto', sans-serif;
            }

            .edit-button button {
                font-family: 'Roboto', sans-serif;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .back-button {
                position: relative;
                top: -1160.5px;
                left: 15px;
                width: 400px;
                height: 0px;
                font-size: 30px;
                font-family: 'Roboto', sans-serif;
            }
            
            .back-button button {
                font-family: 'Roboto', sans-serif;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .like-post {
                position: relative;
                top: 65px;
            }

            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              
              .container {
                display: block;
                position: relative;
                top: 260px;
                left: 300px;
                cursor: pointer;
                user-select: none;
              }
              
              .container svg {
                position: relative;
                top: 0;
                left: 0;
                height: 50px;
                width: 50px;
                transition: all 0.3s;
                fill: #666;
              }
              
              .container svg:hover {
                transform: scale(1.1);
              }
              
              .container input:checked ~ svg {
                fill: #E3474F;
              }

              .dislike-post {
                position: relative;
                top : 20px;
                left: 350px;
               
            }

              .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              
              .container {
                display: block;
                position: relative;
                top: 260px;
                left: 200px;
                cursor: pointer;
                user-select: none;
              }
              
              svg {
                position: relative;
                top: 0;
                left: 0;
                height: 50px;
                width: 50px;
                transition: all 0.3s;
                fill: #666;
              }
              
              svg:hover {
                transform: scale(1.1) rotate(-10deg);
              }
              
              .container input:checked ~ svg {
                fill: rgb(185, 51, 51);
              }
              
              
            